In [13]:
%matplotlib inline
#Dependcies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [14]:
# Reference file path
csv_path = "Output/clean_data.csv"

# Read the CSV into a Pandas DataFrame
homicide_reports_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
homicide_reports_df.head()

C:\Users\brita\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,City,State,Year,Month,Incident,Crime Type,Crime Solved,Victim Sex,Victim Age,Victim Race,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Relationship,Weapon
0,Anchorage,Alaska,2000,January,1,Murder or Manslaughter,Yes,Female,25,Black,Male,28,Black,Romantic,Handgun
1,Anchorage,Alaska,2000,January,2,Murder or Manslaughter,Yes,Female,31,White,Male,18,Native American/Alaska Native,Unknown,Handgun
2,Anchorage,Alaska,2000,January,3,Manslaughter by Negligence,Yes,Male,1,Asian/Pacific Islander,Male,12,Asian/Pacific Islander,Family,Blunt Object
3,Anchorage,Alaska,2000,February,1,Manslaughter by Negligence,Yes,Male,0,Asian/Pacific Islander,Female,39,Asian/Pacific Islander,Friend,Blunt Object
4,Anchorage,Alaska,2000,March,1,Murder or Manslaughter,No,Female,29,Native American/Alaska Native,Unknown,0,Unknown,Unknown,Knife

In [15]:
# Display a statistical overview
homicide_reports_df.describe()

                Year       Incident     Victim Age
count  236022.000000  236022.000000  236022.000000
mean     2006.869779      40.083814      35.444031
std         4.235754     146.072384      46.585557
min      2000.000000       0.000000       0.000000
25%      2003.000000       1.000000      22.000000
50%      2007.000000       2.000000      30.000000
75%      2010.000000       8.000000      43.000000
max      2014.000000     999.000000     998.000000

In [18]:
# Figure out the minimum and maximum 
print(homicide_reports_df["Victim Age"].sum())
print(homicide_reports_df["Incident"].sum())

8365571
9460662

In [21]:
print(homicide_reports_df["Weapon"].value_counts())

Handgun          116205
Knife             29118
Firearm           28077
Blunt Object      23945
Unknown           16190
Shotgun            7186
Rifle              6874
Strangulation      1905
Fire               1776
Suffocation        1638
Gun                1495
Drugs               981
Drowning            319
Poison              184
Explosives           82
Fall                 47
Name: Weapon, dtype: int64

# Bubble Plot for Total Homicide Reports